body {
width: 100%;
overflow: hidden;
background: url("http://i.imgur.com/GG41Z6o.jpg") no-repeat center center fixed;
background-size: cover;
}
.middle{
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;;
  margin: auto;
  margin-top: 15%;
  color: white;
  font-family: cursive;
}
.middle h1{
  font-size: 250%;
}
.middle p{
  font-size: 150%;
}
